/* Your CSS goes here */
#main {
    text-align: center;
}

#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
}
#close img {
  width: 100%;
}

@media (min-width: 801px) {
  #close {
    top: 104px;
  }
}
.row {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    
}
.app {
    padding: 5px;
    /*width: 16%;*/
}
.wrap {
    padding: 0;
    margin: 0;
    height: 100%;
}

.vertical-line {
    height: 100%;
    border-left: 2px solid #141414;
}
.today-weather {
    width: 85%;
    height: auto;
}
#app-row-1 {
    margin-top: 10%;
}
#app-row-2 {
    margin-top: 5%;
}

i.huge.icon {
    font-size: 3.6em
}

#left-right-app-ctrl {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 170px 0 0 0px;
    width: 100%;
    height: 45px;
    z-index:1;
    /*background-color: rgba(10, 10, 10, 0.4);*/
}

#right-arrow {
    float: right;
    font-size: 2.7em;
}
#left-arrow {
    float: left;
    font-size: 2.7em;
}
h2 {
    margin: 0;
    padding: 0;
}
hr {
    margin: 0;
}
#temp-dsip {
    background: rgba(20, 20, 20, 0.3);
}